@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
h3 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: #7a1620;
}

body .personagens {
  display: flex;
  justify-content: space-around;
}
body .personagens .botao {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 20px;
}
body .personagens .selected {
  border: 26px solid #a00000;
}